{{- define "title" }}{{.Title}} // {{ site.Title}}{{ end }}

{{- define "main" }}
<article>

  <header class="mw9 center ph2 tc flex flex-column justify-center vh-50-m vh-75-l mv4 mv5-m">
    <h1 class="entry-title f1 f-subheadline-m f-headline-l mt0 mb1 ttc">{{ .Params.headline | default .Title | markdownify }}</h1>
    <h2 class="f2 f1-l fw6 mt0 mb1">{{ .Params.subheadline | default .Description | markdownify}}</h2>
  </header>

  <div class="entry-content f4 f3-ns measure w-90 center ph2 ph0-ns nested-copy-line-height nested-copy-separator nested-headline-line-height nested-img nested-sp">
    {{.Content}}
  </div>

</article>
{{ end }}
