.legends {
  color: cornflowerblue;
}
.share-link {
  display: flex;
  align-items: center;
  margin: 0 0.6rem;
  padding: 0 0.8rem;
  height: 2.6rem;
  font-size: 1.1rem;
  line-height: 0;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  border-radius: 3px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.share-link .icon {
  margin-right: 0.4rem;
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.share-link-linkedin {
  color: #0077b7;
}

.share-link-telegram {
  color: #039be5;
}

.share-link-twitter {
  color: #1da1f2;
}