<!DOCTYPE html>
<html lang="{{site.Language}}">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
      <title>{{- block "title" . -}}{{ site.Title }}{{- end -}}</title>  
      {{- partial "head.html" . -}}
  </head>
  <body class="sans-serif bg-white-90 near-black w-100">
      {{- partial "header.html" . -}}
      <div id="content">
      {{- block "main" . }}{{- end }}
      </div>
      {{- partial "footer.html" . -}}
  </body>
</html>
