{{ define "main" }}
<header class="mw7 center vh-25 flex flex-column justify-center ph2 ph0-ns mv4-ns bb-ns b--black-10 pb3">
  <h1 class="mv1">{{.Title}}</h1>
  {{ with .Description}}<h2 class="fw4 mv1">{{.}}</h2>{{end}}
  {{.Content}}
</header>
<main class="hfeed mw7 center ph2">
  {{ range .Paginator.Pages }}
  <article>
    <h1 class="f2 mb1">{{.Title}}</h1>
    <p class="f4 lh-copy">{{.Description}}</p>
    <a class="link near-black ttu fw6" href="{{.RelPermalink}}">Read more &rarr;</a>
  </article>
  {{ end }}  
</main>
{{ end }}