{{- define "title" }}{{.Title}} // {{ site.Title}}{{ end }}
{{ define "main" }}
<div class="mw7 center vh-25 flex flex-column justify-center ph3 ph0-ns mv4-ns bb-ns b--black-10 pb3">
  <h1 class="mv1">{{.Title}}</h1>
  {{ with .Description}}<h2 class="fw4 f3 mv1">{{.}}</h2>{{end}}
  {{.Content}}
</div>
<main class="hfeed mw7 center ph3 ph0-ns">
  {{ range .Paginator.Pages }}
  <article class="bb b--black-05 pb3">
    <h1 class="entry-title f3 f2-ns mb1">
      <a class="link near-black" href="{{.RelPermalink}}">{{.Title}}</a>
    </h1>    
    {{ with .Description }}<p class="f4 f3-ns lh-copy mv1">{{.}}</p>{{end}}
    <time class="dt-published f4">{{ .PublishDate.Format "Jan 2, 2006" }}</time>
  </article>
  {{ end }}  
</main>
{{ end }}