{{- define "title" }}{{.Title}} // {{ site.Title}}{{ end }}

{{- define "main" }}
<article class="measure f4 f3-ns center">

  <header class="center mv4 ph3 ph0-ns">
    <h1 class="entry-title f2 f1-ns lh-solid mt0 mb1">{{ .Params.headline | default .Title | markdownify}}</h1>
    {{with .Description}}<h2 class="fw4 f3 lh-title mt0 mb1">{{.}}</h2>{{end}}
    <span class="f5"><time class="dt-published" datetime="{{.PublishDate}}">{{.PublishDate.Format "Jan 2, 2006"}}</time>{{ if ne .Lastmod .Date }} &mdash; <em>Last Updated {{.Lastmod.Format "Jan 2, 2006 3:04PM"}}</em>{{end}}</span>  
  </header>

  <div class="entry-content center ph3 ph0-ns nested-copy-line-height nested-copy-separator nested-headline-line-height nested-img">
    {{.Content}}
  </div>

  <footer class="pv3">
    <div class="measure center ph2 ph0-ns">
      
      {{/*  {{ if isset .Params "tags" }}
      <div class="meta_footer f6 light-silver mv3 pv3">     
        <span class="tags">Filed under {{ range (.GetTerms "tags") }}<span class=""><a class="link light-silver bb b--moon-gray hover-bg-yellow hover-black mh1" href="{{ .Permalink }}">{{.LinkTitle}}</a></span>{{end}}</span>        
      </div>
      {{end}}  */}}
    
    {{ partial "ctapost" . }}
        
    </div>
  </footer>

</article>
{{ partial "postnavigation" . }}
{{ end }}
