{{- define "title" }}{{.Title}} // {{ site.Title}}{{ end }}

{{- define "main" }}
<article class="vh-75">

  <header class="measure-wide center mv4-ns ph2 ph0-ns">
    <h1 class="entry-title f2 f1-ns lh-solid mt0 mb1">{{ .Params.headline | default .Title | markdownify}}</h1>
    {{with .Description}}<h2 class="fw4 f3 lh-title mt0 mb1">{{.}}</h2>{{end}}
  </header>

  <div class="entry-content measure-wide center ph2 ph0-ns nested-copy-line-height nested-copy-separator nested-headline-line-height nested-img">
    {{.Content}}
  </div>

  <footer class="pv3">
    <div class="measure-wide center ph2 ph0-ns">
             
    </div>
  </footer>

</article>
{{ end }}
