@import "font-face.css";
@import "tachyons/css/tachyons.css";

@import "components/modal.css";
@import "components/overlay.css";
@import "components/shares.css";
@import "components/burger.css";  


body {
  font-size: 20px;
}

.entry-content a,
.entry-content a:link {
  color: rgb(0, 0, 238);
}

@media (prefers-color-scheme: dark) {
  .entry-content a,
  .entry-content a:link {    
    color: #eeeee2; /* color: #00a2ff; */
  }
}

.entry-content h2, 
.entry-content h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.nested-sp h1,
.nested-sp h2,
.nested-sp h3 {
  text-align: center;
  text-transform: capitalize;
}




/* @import 'components/shortcodes.css'; */

.card .card-body p {
  margin-top: 0;
}

.card .card-body p:last-child {
  margin-bottom: 0;
}
