<div class="authorbox pv3 flex items-center center">
  <div class="avatar">
    <figure class="author-image mv0 ml0 mr2">
      {{- $resource := resources.Get "images/me.jpg" -}}
      {{- $image := $resource.Resize "48x q85" -}}
      <img class="br-100" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
      {{/*  <img class="br-100" src="https://secure.gravatar.com/avatar/92cd6bc8089acc92109de81fcb652cb4?s=48" alt="Matt Perryman">  */}}
    </figure>
  </div>
  <div class="f5">
    <span class="db"><a class="link near-black hover-dark-blue" href="{{ ref . "about" }}">Matt Perryman</a></span>
    <time class="mid-gray" datetime="{{.Date}}">{{ .Date.Format "January 2, 2006"}}</time>
  </div>
</div>