<div class="subscribe-cta measure-wide center bg-black-05 b--black bt bw2 pa4 mb4">
  <h3 class="mt0">Before you go:</h3>
  <p>Did you know about call to action text? Click the button and join now:</p>
  <a class="link db tc bg-dark-red white hover-bg-gold hover-black fw6 center br1 pa3 ttc" onclick="openSub()">Subscribe now</a>
</div>

