<footer class="pa4 f5">

  <nav class="tc">
    <a class="link near-black ph1 mh1" href="{{ ref . "about" }}">About</a>
    <a class="link near-black ph1 mh1" href="{{ ref . "contact" }}">Contact</a>
    <a class="link near-black ph1 mh1" href="{{ ref . "writing" }}">Writing</a>
    <a class="link near-black ph1 mh1" href="{{ ref . "services" }}">Work With Me</a>
  </nav>

  <p class="center tc">Copyright &copy; {{ now.Year }} <a class="link near-black"
      href="{{ ref . "about" }}">{{ site.Title }}</a></p>

</footer>
{{- $js := resources.Get "app.js" }}
{{- if hugo.IsProduction }}
{{- $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{- else }}
<script type="text/javascript" src="{{ $js.Permalink }}"></script>
{{- end}}
<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
