{{- $options := dict "inlineImports" true "noMap" true }}
{{- $css := resources.Get "app.css" | resources.PostCSS ($options) }}
{{- if hugo.IsProduction }}
{{- $css := $css | minify | fingerprint | resources.PostProcess }}
{{- end }} 
<link rel="stylesheet" href="{{ $css.RelPermalink }}">

<link rel="canonical" href="{{.Permalink}}">
{{- template "_internal/schema.html" . }}

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.BaseURL }}apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.BaseURL }}apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="{{ site.Home.Permalink }}favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.Home.Permalink }}favicon-16x16.png" sizes="16x16" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/mstile-144x144.png" />

{{- if and (site.Params.font.files) (reflect.IsSlice site.Params.font.files) }}
{{- range site.Params.font.files }}
<link rel="preload" href="{{ site.BaseURL }}{{ . | safeHTML }}" as="font" type="{{ site.Params.font.type }}" crossorigin="anonymous">
{{- end }}{{- end }}
