<header class="ph2 pv4 pa4-ns" role="banner">

  <nav role="navigation">

    <a class="link near-black fw6" href="{{ site.Home.Permalink }}">{{ site.Title }}</a>

    <!-- Use any element to open/show the overlay navigation menu -->
    <div class="fr burger burger-slip near-black" onclick="openNav()">
      <div class="burger-lines"></div>
    </div>

    <!-- The overlay -->
    <div id="navMenuOverlay" class="overlay h-100 fixed z-1 left-0 top-0 overflow-x-hidden bg-animate">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn link absolute top-2 right-2 f1" onclick="closeNav()">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content relative top-2 w-100 tc mt4">
        <a class="link db pa2 f2" href="{{ ref . "about" }}">About</a>
        <a class="link db pa2 f2" href="{{ ref . "contact" }}">Contact</a>
        <a class="link db pa2 f2" href="{{ ref . "writing" }}">Writing</a>
        <a class="link db pa2 f2" href="{{ ref . "services" }}">Work With Me</a>
        {{- if in site.Params.mainSections .Type }}
        <a class="link db pa2 f2" href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title }}</a>
        {{- end }}
      </div>

    </div>

  </nav>

</header>
