{{ if in site.Params.mainSections .Type }}
<nav class="page-navigation code f6 tc mt5 center mw6">

  {{ with .NextInSection }}
  <a class="next link mid-gray dib" href="{{ .Permalink }}" title="NEXT: {{ .Title }}">
    <span>&lt;&lt;</span>
  </a>
  <span class="dib"> &middot; </span>
  {{ end }}

  <a class="home link mid-gray dib" href="{{ .Site.Home.Permalink }}" title="Back home">home</a>

  {{ with .PrevInSection }}
  <span class="dib"> &middot; </span>
    <a class="prev link mid-gray dib" href="{{ .Permalink }}" title="PREVIOUS: {{ .Title }}">
      <span>&gt;&gt;</span>
    </a>
  {{ end }}
  
</nav>
{{ end }}
