<h3 class="tc">If you liked this post, pay it forward:</h3>
<div class="share flex measure center justify-center">

    <a class="share-link share-link-linkedin link fw6 white"
        href="https://www.linkedin.com/sharing/share-offsite/?url={{.Permalink|safeURL}}" target="_blank"
        rel="noopener noreferrer">
        {{ partial "icons/linkedin.html" . }}
        Share
    </a>
    <a class="share-link flex share-link-telegram link fw6 ttu white"
        href="https://t.me/share/url?url={{.Permalink | safeURL }}&text={{.Title}}" target="_blank"
        rel="noopener noreferrer">
        {{ partial "icons/telegram.html" . }}
        Share
    </a>
    <a class="share-link flex share-link-twitter link fw6 ttu white"
        href="https://twitter.com/intent/tweet?url={{.Permalink|safeURL}}&text={{.Title}}" target="_blank"
        rel="noopener noreferrer">
        {{ partial "icons/twitter.html" . }}
        Tweet
    </a>
</div>