<div class="click-popup">
    <div class="newsletter">
        <h3>Get your premium free gift 📬</h3>
        <p>Enter the email address where you want me to send it:</p>
        <input type="email" placeholder="Your email address" class="email" />
        <button class="submit">Yes, send it over!</button>
        <span class="close" onclick="closeSub()">x</span>
    </div>
</div>
