{{ define "header" }}{{ end }}

{{ define "main" }}
<article class="">

  <header class="ph3 mw9 center flex flex-column justify-center vh-50-m vh-75-l mv4 mv5-m">
    <h1 class="entry-title f1 f-subheadline-m f-headline-l tc ttc mb1">{{.Title | markdownify }}</h1>
    <h2 class="tc fw6 mt0">{{.Description}}</h2>
    <div class="mw7 center flex justify-center">
      {{ partial "authorbox.html" . }}
    </div>
  </header>
  {{/*  <div class="subscribe-cta measure-wide center bg-black-05 pa4 mb4">
    <h3 class="mt0">Get started now</h3>
    <p>Did you know about call to action text? Click the button and join now:</p>
    <a href="https://em1.discordium.com/subscription?f=SCtcFmhgmSDaRe3CtSbbuO4UCR763voetpklYgzatjAo2rQCQKkDxJWWxjb1K5SQkJUqhhstNUzEncixDE3L763nZw" class="link db tc bg-dark-red white hover-bg-gold hover-black fw6 center br1 pa3 ttc" target="_blank" rel="nofollow noopener">Subscribe now</a>
  </div>  */}}
  <div
    class="entry-content measure f4 f3-ns center ph3 ph0-ns nested-copy-line-height nested-copy-separator nested-headline-line-height nested-img">
    {{.Content}}
  </div>
  {{/*  <div class="subscribe-cta measure-wide center bg-black-05 pa4 mb4">
    <h3 class="mt0">Let's go</h3>
    <p>Did you know about call to action text? Click the button and join now:</p>
    <a href="https://em1.discordium.com/subscription?f=SCtcFmhgmSDaRe3CtSbbuO4UCR763voetpklYgzatjAo2rQCQKkDxJWWxjb1K5SQkJUqhhstNUzEncixDE3L763nZw" class="link db tc bg-dark-red white hover-bg-gold hover-black fw6 center br1 pa3 ttc" target="_blank" rel="nofollow noopener">Subscribe now</a>
  </div>  */}}
</article>
{{end}}

{{ define "footer" }}{{end}}