<div class="card flex relative flex-column bg-white-90 ba b--black-10 br1 mb3">
  <div class="card-body flex-auto pa4">
    {{ if .IsNamedParams }}
    {{ if .Get "title" }}<h5 class="card-title f3 lh-copy mt0 mb2">{{ .Get "title" }}</h5>{{ end }}
    {{ if .Get "body" }}<p>{{ .Get "body" }}</p>{{ end }}
    {{ else }}
    {{ if .Get 0 }}<h5 class="card-title f3 lh-copy mt0 mb2">{{ .Get 0 }}</h5>{{end}}
    {{ if .Get 1 }}<p>{{ .Get 1 }}</p>{{ else }}
    <p>{{ .Inner | markdownify }}</p>
    {{ end }}
    {{ end }}
  </div>
</div>